<!DOCTYPE html>
<html lang="fr">
<head>
<title>Calendrier</title>
<link rel="stylesheet" href="../style/cssCalendar.css">
<script src="https://kit.fontawesome.com/b2b8e840d1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header><h1>Calendrier <i class="fa-regular fa-calendar-check"></i></h1></header>
<main>
<div id="container-calendrier">
    <div class="jour">
        <div class="title">
            Lundi
        </div>
        <div class="contenu">
            <p class="menu">Riz avec Poulet</p>
            <p class="menu">Peanut Butter</p>
        </div>
    </div>
    <div class="jour">
        <div class="title">
            Mardi
        </div>
        <div class="contenu">
            <p class="menu">Peanut Butter</p>
            <p class="menu">Pizza</p>
        </div>
    </div>
    <div class="jour">
        <div class="title">
            Mercredi
            </div>
            <div class="contenu">
                <p class="menu">Riz avec Poulet</p>
                <p class="menu">Shake Banane</p>
                <p class="menu">Salade Fruits</p>
            </div>
    </div>
    <div class="jour">
        <div class="title">
            Jeudi
            </div>
            <div class="contenu">
                <p class="menu">Riz avec Poulet</p>
                <p class="menu">Peanut Butter</p>
                <p class="menu">Salade Fruits</p>
                <p class="menu">Shake Banane</p>
            </div>
    </div>
    <div class="jour">
        <div class="title">
            Vendredi
            </div>
            <div class="contenu">
                <p class="menu">Pizza</p>
                <p class="menu">Shake Banane</p>
            </div>
    </div>
    <div class="jour">
        <div class="title">
            Samedi
            </div>
            <div class="contenu">
                <p class="menu">Pizza</p>
            </div>
    </div>
    
</div>