<!DOCTYPE html>
<html lang="fr">
<head>
<title>Fiches de recette</title>
<link rel="stylesheet" href="../style/cssCards.css">
<script src="https://kit.fontawesome.com/b2b8e840d1.js" crossorigin="anonymous"></script>
</head>
<header><h1>Fiches de recette <i class="fa-solid fa-book-open-reader"></i></h1> </header>
<body>
<main>

<div id="container-cards">

        <div class="pizza">
            <img src="../img/recipes-pictures/pizza.webp">
            <h4>Pizza</h4>
            <p>
                <button class="buttonCartes" type="Button"> <i class="fa-solid fa-circle-info"></i> Afficher recette</button>
                <button class="buttonSelectioner" type="Button"> <i class="fa-solid fa-hand-pointer"></i> Selectionner recette</button>
            </p>
            <p class="tag1" id="carbo">
                Carbo
            </p>
        </div>
        <div class="bananaShake">
            <img src="../img/recipes-pictures/bananaShake.webp">
            <h4>Banana Shake</h4>
            <p>
                <button class="buttonCartes" type="Button"> <i class="fa-solid fa-circle-info"></i> Afficher recette</button>
                <button class="buttonSelectioner" type="Button"> <i class="fa-solid fa-hand-pointer"></i> Selectionner recette</button>
            </p>
            <p class="tag1" id="carbo">
                Carbo
            </p>
            <p class="tag2" id="protein">
                Proteines
            </p>
            
        </div>
        <div class="rizPoulet">
            <img src="../img/recipes-pictures/rizPoulet.jpg">
            <h4>Riz avec poulet</h4>
            <p>
                <button class="buttonCartes" type="Button"> <i class="fa-solid fa-circle-info"></i> Afficher recette</button>
                <button class="buttonSelectioner"  type="Button"> <i class="fa-solid fa-hand-pointer"></i> Selectionner recette</button>
            </p>
            <p class="tag1" id="carbo">
                Carbo
            </p>
            <p class="tag2" id="protein">
                Proteines
            </p>
        </div>
        <div class="peanutButter">
            <img src="../img/recipes-pictures/peanutButter.webp">
            <h4>Peanut Butter</h4>
            <p>
                <button class="buttonCartes" type="Button"> <i class="fa-solid fa-circle-info"></i> Afficher recette</button>
                <button class="buttonSelectioner"  type="Button"> <i class="fa-solid fa-hand-pointer"></i> Selectionner recette</button>
            </p>
            <p class="tag1" id="graisse">
                Graisse
            </p>
            <p class="tag2" id="protein">
                Proteines
            </p>
        </div>
      
        
</div>
</main>