<!DOCTYPE html>
<html lang="fr">
<head>
<title>Planing</title>
<link rel="stylesheet" href="../style/cssPlaning.css">
<link rel="stylesheet" href="../style/cssCalendar.css">
<link rel="stylesheet" href="../style/cssCards.css">

<script src="https://kit.fontawesome.com/b2b8e840d1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header><h1>Planing</i></h1></header>
<div id="container-planing">

        <div id="container-cards">
            
            <div class="pizza">
                <img src="../img/recipes-pictures/pizza.webp">
                <h4>Pizza</h4>
                <p>
                    <button class="buttonCartes" type="Button"> <i class="fa-solid fa-circle-info"></i> Afficher recette</button>
                    <button class="buttonSelectioner" type="Button"> <i class="fa-solid fa-hand-pointer"></i> Selectionner recette</button>
                </p>
                <p class="tag1" id="carbo">
                    Carbo
                </p>
            </div>
            <div class="bananaShake">
                <img src="../img/recipes-pictures/bananaShake.webp">
                <h4>Banana Shake</h4>
                <p>
                    <button class="buttonCartes" type="Button"> <i class="fa-solid fa-circle-info"></i> Afficher recette</button>
                    <button class="buttonSelectioner" type="Button"> <i class="fa-solid fa-hand-pointer"></i> Selectionner recette</button>
                </p>
                <p class="tag1" id="carbo">
                    Carbo
                </p>
                <p class="tag2" id="protein">
                    Proteines
                </p>
                
            </div>
            <div class="rizPoulet">
                <img src="../img/recipes-pictures/rizPoulet.jpg">
                <h4>Riz avec poulet</h4>
                <p>
                    <button class="buttonCartes" type="Button"> <i class="fa-solid fa-circle-info"></i> Afficher recette</button>
                    <button class="buttonSelectioner"  type="Button"> <i class="fa-solid fa-hand-pointer"></i> Selectionner recette</button>
                </p>
                <p class="tag1" id="carbo">
                    Carbo
                </p>
                <p class="tag2" id="protein">
                    Proteines
                </p>
            </div>
            <div class="peanutButter">
                <img src="../img/recipes-pictures/peanutButter.webp">
                <h4>Peanut Butter</h4>
                <p>
                    <button class="buttonCartes" type="Button"> <i class="fa-solid fa-circle-info"></i> Afficher recette</button>
                    <button class="buttonSelectioner"  type="Button"> <i class="fa-solid fa-hand-pointer"></i> Selectionner recette</button>
                </p>
                <p class="tag1" id="graisse">
                    Graisse
                </p>
                <p class="tag2" id="protein">
                    Proteines
                </p>
            </div>
            
        </div>
    

        <div id="container-calendrier">
                <div class="jour">
                    <div class="title">
                        Lundi
                    </div>
                    <div class="contenu">
                        <p class="menu">Riz avec Poulet</p>
                        <p class="menu">Peanut Butter</p>
                    </div>
                </div>
                <div class="jour">
                    <div class="title">
                        Mardi
                    </div>
                    <div class="contenu">
                        <p class="menu">Peanut Butter</p>
                        <p class="menu">Pizza</p>
                    </div>
                </div>
                <div class="jour">
                    <div class="title">
                        Mercredi
                        </div>
                        <div class="contenu">
                            <p class="menu">Riz avec Poulet</p>
                            <p class="menu">Shake Banane</p>
                            <p class="menu">Salade Fruits</p>
                        </div>
                </div>
                <div class="jour">
                    <div class="title">
                        Jeudi
                        </div>
                        <div class="contenu">
                            <p class="menu">Riz avec Poulet</p>
                            <p class="menu">Peanut Butter</p>
                            <p class="menu">Salade Fruits</p>
                            <p class="menu">Shake Banane</p>
                        </div>
                </div>
                <div class="jour">
                    <div class="title">
                        Vendredi
                        </div>
                        <div class="contenu">
                            <p class="menu">Pizza</p>
                            <p class="menu">Shake Banane</p>
                        </div>
                </div>
                <div class="jour">
                    <div class="title">
                        Samedi
                        </div>
                        <div class="contenu">
                            <p class="menu">Pizza</p>
                        </div>
                </div>
                
        </div>
        
    <div class="shoppingList-planing">
        <button class="buttonShopping" type="button">
    
        <img src="../style/img/fondEcranCoursesFond.jpg" width="100%" scrolling="no" height="100%"></img>

        </button>
    </div>
</div>