<!DOCTYPE html>
<html lang="fr">
<head>
<title>Recette</title>
<link rel="stylesheet" href="../style/cssRecipe.css">
<script src="https://kit.fontawesome.com/b2b8e840d1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header><h1>Recette <i class="fa-solid fa-key"></i></h1></header>
<main>
<div id="recipe-container">
    
    <div class="imageRecette">
        <img src="../img/recipes-pictures/pizza.webp">
    </div>
    <div class="etapes">
        <h3>Les etapes <i class="fa-solid fa-shoe-prints"></i></h3>
        <ol>
            <li>Laver les ingredients</li>
            <li>Couper les legumes</li>
            <li>Faire la composition du blat</li>
            <li>Mettre au four</li>
            <li>Mettre au four</li>
            <li>Mettre au four</li>
            <li>Mettre au four</li>
            <li>Mettre au four</li>
            <li>Mettre au four</li>
            <li>Mettre au four</li>
            <li>Mettre au four</li>
            <li>Mettre au four</li>
            <li>Mettre au four</li>
            <li>Mettre au four</li>
            <li>Mettre au four</li>
            <li>Mettre au four</li>
            <li>Mettre au four</li>
            <li>Mettre au four</li>

        </ol>
    </div>
    <div class="ingredients">
        <h3>Les ingredients <i class="fa-solid fa-utensils"></i></h3>
        <ul>
            <li>100g tomates</li>
            <li>10g huile</li>
            <li>20g jambon</li>
            <li>30g fromage</li>
            <li>3g olives</li>

        </ul>
    </div>


    <p class="fourthDivButton">
        <button class="buttonRecipe"type="button">Retour page precedente</button>
    </div>